{% extends 'layout.html' %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message  in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card-body p-4">
            <form action="/unitModel/actualizar/{{model.unitMesuareid}}" method="POST" class="card bg-dark text-light">
                <div class="card-body p-4">
                    <div class="mb-3">
                        <label for="unitMesuareid"> Write the mesuare ID</label>
                        <input type="text" placeholder="Write the new unitMesuareid" name="unitMesuareid" value="{{model.unitMesuareid}}" 
                        class="form-control rounded-0 bg-dark border-30 text-light">
                    </div>
                    <div class="mb-3">
                    <label for="name"> Write the name </label>
                    <input type="text" placeholder="Write the new name" name="name" value="{{model.name}}" 
                    class="form-control rounded-0 bg-dark border-30 text-light">
                    </div>
                    <button class="form-control rounded-0 border-30 text-black btn btn-primary"> Send </button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}


