{% extends 'layout.html' %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message  in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card-body p-4">
            <form action="/product/update/{{prod.nameProduct}}" method="POST" class="card bg-dark text-light">
                <div class="card-body p-4">
                    <div class="mb-3">
                        <label for="nameProduct"> Write the product </label>
                        <input type="text" placeholder="Write the product" name="nameProduct" value="{{prod.nameProduct}}" 
                        class="form-control rounded-0 bg-dark border-30 text-light">
                    </div>
                    <div class="mb-3">
                        <label for="priceProduct"> Write the price </label>
                        <input type="number" priceProduct="Write the price" name="priceProduct" value="{{prod.priceProduct}}" 
                        class="form-control rounded-0 bg-dark border-30 text-light">
                    </div>
                    <div class="mb-3">
                        <label for="unitmeidProduct"> Write the unit mesuare id  </label>
                        <input type="text" placeholder="Write the idMesuare" name="unitmeidProduct" value="{{prod.unitmeidProduct}}" 
                        class="form-control rounded-0 bg-dark border-30 text-light">
                    </div>
                    <button class="form-control rounded-0 border-30 text-black btn btn-primary"> Send </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

